
@{
    ViewBag.Title = "HttpError404";
}
<head>
    <style>
        p.roundBorder {
            border: 1px solid orange;
            border-radius: 10px;
            padding-left: 2em;
            padding-top: 2em;
            padding-bottom: 2em;
        }
    </style>
</head>
<br>
<p class="roundBorder">
    <font style="font-size:18px; font-weight:bold; color:red;">Http Error !</font><br><br>
    <font style="font-size:14px; font-weight:bold; color:darkgreen;">Message</font>: @TempData["exMessage"] !
</p>



