@model List<ERPDomain.Entities.SH_ROLEACCESS>


<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.SH_ROLE.RoleName)*@
            Dynamic Menu
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.A)*@
            Allow Read
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.AllowUpdate)*@
            Allow Update
        </th>
        <th></th>
    </tr>

    @*@foreach (var item in Model)*@
    @for (int i = 0; i < Model.Count; i++)
    {
        @Html.HiddenFor(modelItem => Model[i].ID)
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model[i].DynamicMenu.MenuName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].AllowRead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].AllowUpdate)
            </td>

        </tr>
    }



</table>


