@model List<ERPDomain.Entities.ChartOfAccount_DimensionValue>


@using (Html.BeginForm("LoadChartOfAccountDimension", "ChartOfAccount"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <input type="submit" value="Batch Save" class="btn btn-default" />
    </div>

    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.DimensionCode)*@
                DimensionCode
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DimensionValue)*@
                DimensionValue
            </th>
            <th></th>
        </tr>

        @*@foreach (var item in Model)*@
        @for (int i = 0; i < Model.Count; i++)
        {
            @Html.HiddenFor(modelItem => Model[i].ID)
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].DimensionCode)
                </td>
                <td>
                    @Html.TextBoxFor(modelItem => Model[i].DimensionValue)
                </td>
            </tr>
        }

    </table>

    @*<div class="form-group">
        <input type="submit" value="Batch Save" class="btn btn-default" />
    </div>*@
    <br />

}
