GO
/****** Object:  Table [dbo].[ChartOfAccount]    Script Date: 10/4/2016 6:17:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChartOfAccount](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AccountGroupID] [bigint] NOT NULL CONSTRAINT [DF_Account_AccountGroupID]  DEFAULT ((0)),
	[ActivityID] [bigint] NOT NULL CONSTRAINT [DF_Account_ActivityID]  DEFAULT ((0)),
	[ActivitySubID] [bigint] NOT NULL CONSTRAINT [DF_Account_ActivitySubID]  DEFAULT ((0)),
	[OrganizationID] [bigint] NOT NULL CONSTRAINT [DF_Account_OrganizationID]  DEFAULT ((0)),
	[AccCode] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[AccType] [nvarchar](50) NULL,
	[AccGrpCode] [nvarchar](50) NULL,
	[AccClsCode] [nvarchar](50) NULL,
	[ActCode] [nvarchar](50) NULL,
	[SubActCode] [nvarchar](50) NULL,
	[ExpenseCode] [nvarchar](50) NULL,
	[AccPurpose] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdateID] [nvarchar](50) NULL,
	[FinAccCode] [nvarchar](50) NULL,
	[NurseryInd] [nvarchar](50) NULL,
	[WSAccDistUse] [nvarchar](50) NULL,
	[ControlAcc] [nvarchar](50) NULL,
	[SuspendAcc] [nvarchar](50) NULL,
	[Blocked] [nvarchar](50) NULL,
	[EffDateFrom] [datetime2](7) NULL,
	[EffDateTo] [datetime2](7) NULL,
	[ReportDESC] [nvarchar](200) NULL,
	[SubAccType] [nvarchar](50) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ChartOfAccount] ON 

GO
SET IDENTITY_INSERT [dbo].[ChartOfAccount] OFF
