GO
/****** Object:  Table [dbo].[Activity]    Script Date: 10/4/2016 5:20:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ActivityGroupID] [bigint] NOT NULL CONSTRAINT [DF_Activity_ActivityGroupID]  DEFAULT ((0)),
	[ActCode] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[ActGrpCode] [nvarchar](255) NULL,
	[UOMCode] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateID] [nvarchar](255) NULL,
	[LabOverheadInd] [nvarchar](20) NULL,
	[Head] [nvarchar](20) NULL,
	[SHead] [nvarchar](20) NULL,
 CONSTRAINT [PK_Activity] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Activity] ON 

INSERT [dbo].[Activity] ([ID], [ActivityGroupID], [ActCode], [Description], [ActGrpCode], [UOMCode], [Status], [CreateDate], [UpdateDate], [UpdateID], [LabOverheadInd], [Head], [SHead]) VALUES (1, 11, N'001', N'SHARE CAPITAL', N'SC', N'NA', N'Active', CAST(N'2014-01-08 11:52:17.000' AS DateTime), CAST(N'2014-01-08 11:52:17.000' AS DateTime), N'sysadm', N'2', NULL, NULL)
INSERT [dbo].[Activity] ([ID], [ActivityGroupID], [ActCode], [Description], [ActGrpCode], [UOMCode], [Status], [CreateDate], [UpdateDate], [UpdateID], [LabOverheadInd], [Head], [SHead]) VALUES (2, 10, N'002', N'RETAINED PROFIT / LOSSES', N'RE', N'NA', N'Active', CAST(N'2014-01-08 11:52:17.000' AS DateTime), CAST(N'2014-01-08 11:52:17.000' AS DateTime), N'sysadm', N'2', NULL, NULL)
INSERT [dbo].[Activity] ([ID], [ActivityGroupID], [ActCode], [Description], [ActGrpCode], [UOMCode], [Status], [CreateDate], [UpdateDate], [UpdateID], [LabOverheadInd], [Head], [SHead]) VALUES (3, 7, N'003', N'LONG TERM LIABILITIES', N'LL', N'NA', N'Active', CAST(N'2014-01-08 11:52:17.000' AS DateTime), CAST(N'2014-01-08 11:52:17.000' AS DateTime), N'sysadm', N'2', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Activity] OFF
