GO
/****** Object:  Table [dbo].[Country]    Script Date: 10/5/2016 9:27:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CurrencyID] [bigint] NOT NULL CONSTRAINT [DF_Country_CurrencyCode]  DEFAULT ((0)),
	[CountryCode] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CountryISO3Code] [nvarchar](50) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CountryState]    Script Date: 10/5/2016 9:27:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountryState](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CountryID] [bigint] NOT NULL CONSTRAINT [DF_CountryState_CountryID]  DEFAULT ((0)),
	[StateName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CountryState] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([ID], [CurrencyID], [CountryCode], [Description], [CountryISO3Code]) VALUES (1, 0, N'AD      ', N'ANDORRA                                                                                                                         ', N'')
INSERT [dbo].[Country] ([ID], [CurrencyID], [CountryCode], [Description], [CountryISO3Code]) VALUES (2, 0, N'AE      ', N'UNITED ARAB EMIRATES                                                                                                            ', N'')
INSERT [dbo].[Country] ([ID], [CurrencyID], [CountryCode], [Description], [CountryISO3Code]) VALUES (3, 0, N'AF      ', N'AFGHANISTAN                                                                                                                     ', N'')
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
SET IDENTITY_INSERT [dbo].[CountryState] ON 

INSERT [dbo].[CountryState] ([ID], [CountryID], [StateName]) VALUES (1, 150, N'Johor')
INSERT [dbo].[CountryState] ([ID], [CountryID], [StateName]) VALUES (2, 150, N'Kedah')
INSERT [dbo].[CountryState] ([ID], [CountryID], [StateName]) VALUES (3, 150, N'Kelantan')
SET IDENTITY_INSERT [dbo].[CountryState] OFF
