GO
/****** Object:  Table [dbo].[Bank]    Script Date: 10/4/2016 5:25:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bank](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BankCode] [char](8) NOT NULL,
	[Description] [nchar](128) NULL,
	[AccNo] [char](32) NULL,
	[Address] [nchar](516) NULL,
	[BarCode] [char](20) NULL,
	[CustID] [char](20) NULL,
	[BatchNo] [char](20) NULL,
	[AutoCRFmtInd] [char](8) NULL,
	[ChequeFmtInd] [char](8) NULL,
	[RptFmtInd] [char](8) NULL,
	[LastIntegrateDate] [datetime] NULL,
	[Status] [char](2) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[UpdateID] [char](20) NULL,
	[AccCode] [char](32) NOT NULL,
	[BranchCode] [char](10) NOT NULL,
	[BIC] [char](11) NOT NULL,
	[IBG] [char](1) NOT NULL,
	[BankReconOpenBal] [decimal](18, 5) NULL,
 CONSTRAINT [PK_Bank] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Bank] ON 

SET IDENTITY_INSERT [dbo].[Bank] OFF
