GO
/****** Object:  Table [dbo].[ActivitySub]    Script Date: 10/4/2016 5:24:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivitySub](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ActivityID] [bigint] NOT NULL CONSTRAINT [DF_ActivitySub_ActivityID]  DEFAULT ((0)),
	[SubActCode] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[ActCode] [nvarchar](20) NOT NULL,
	[UOMCode] [nvarchar](20) NULL,
	[Status] [nvarchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateID] [nvarchar](50) NULL,
	[SubActId] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ActivitySub] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ActivitySub] ON 

INSERT [dbo].[ActivitySub] ([ID], [ActivityID], [SubActCode], [Description], [ActCode], [UOMCode], [Status], [CreateDate], [UpdateDate], [UpdateID], [SubActId]) VALUES (1, 2, N'01      ', N'RETAINED PROFIT / LOSSES                                                                                                        ', N'002     ', N'NA      ', N'Active', CAST(N'2014-01-08 11:53:43.000' AS DateTime), CAST(N'2014-01-08 11:53:43.000' AS DateTime), N'sysadm              ', N'2')
INSERT [dbo].[ActivitySub] ([ID], [ActivityID], [SubActCode], [Description], [ActCode], [UOMCode], [Status], [CreateDate], [UpdateDate], [UpdateID], [SubActId]) VALUES (2, 43, N'01      ', N'OPENING STOCK - PK                                                                                                              ', N'072     ', N'NA      ', N'Deleted', CAST(N'2014-01-08 11:53:43.000' AS DateTime), CAST(N'2014-07-31 08:56:57.000' AS DateTime), N'itech               ', N'3')
INSERT [dbo].[ActivitySub] ([ID], [ActivityID], [SubActCode], [Description], [ActCode], [UOMCode], [Status], [CreateDate], [UpdateDate], [UpdateID], [SubActId]) VALUES (3, 3, N'02      ', N'TERM LOAN - RHB TL2 (RM:29,000,000)                                                                                             ', N'003     ', N'NA      ', N'Active', CAST(N'2014-01-08 11:53:43.000' AS DateTime), CAST(N'2014-01-08 11:53:43.000' AS DateTime), N'sysadm              ', N'4')
GO
SET IDENTITY_INSERT [dbo].[ActivitySub] OFF
